[submodule "class_meeting_02_stop_at_wall"]
	path = class_meeting_02_stop_at_wall
	url = https://github.com/intro-robotics-uchicago/class_meeting_02_stop_at_wall
[submodule "class_meeting_03_line_follower"]
	path = class_meeting_03_line_follower
	url = https://github.com/intro-robotics-uchicago/class_meeting_03_line_follower
[submodule "class_meeting_06_likelihood_field"]
	path = class_meeting_06_likelihood_field
	url = https://github.com/intro-robotics-uchicago/class_meeting_06_likelihood_field
[submodule "class_meeting_11_cat_recognition"]
	path = class_meeting_11_cat_recognition
	url = https://github.com/intro-robotics-uchicago/class_meeting_11_cat_recognition.git
